/**
 * 0.0 IE Fix
 * -----------------------------------------------------------------------------
 */
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/**
 * 1.0 Enhanced Bootstrap Styles
 * -----------------------------------------------------------------------------
 */

/* Reset */
body {
	font-weight: 300;
	letter-spacing: 0.5px;
	word-wrap: break-word;
}
a {
    cursor: pointer;
}
a:focus {
    outline: 0;
}
.img-responsive {
	width: auto;
}

/* Grid */
.center-block.col-xs-1, .center-block.col-sm-1, .center-block.col-md-1, .center-block.col-lg-1, .center-block.col-xs-2, .center-block.col-sm-2, .center-block.col-md-2, .center-block.col-lg-2, .center-block.col-xs-3, .center-block.col-sm-3, .center-block.col-md-3, .center-block.col-lg-3, .center-block.col-xs-4, .center-block.col-sm-4, .center-block.col-md-4, .center-block.col-lg-4, .center-block.col-xs-5, .center-block.col-sm-5, .center-block.col-md-5, .center-block.col-lg-5, .center-block.col-xs-6, .center-block.col-sm-6, .center-block.col-md-6, .center-block.col-lg-6, .center-block.col-xs-7, .center-block.col-sm-7, .center-block.col-md-7, .center-block.col-lg-7, .center-block.col-xs-8, .center-block.col-sm-8, .center-block.col-md-8, .center-block.col-lg-8, .center-block.col-xs-9, .center-block.col-sm-9, .center-block.col-md-9, .center-block.col-lg-9, .center-block.col-xs-10, .center-block.col-sm-10, .center-block.col-md-10, .center-block.col-lg-10, .center-block.col-xs-11, .center-block.col-sm-11, .center-block.col-md-11, .center-block.col-lg-11, .center-block.col-xs-12, .center-block.col-sm-12, .center-block.col-md-12, .center-block.col-lg-12 {
	float: none;
}
.center-block .row {
    margin-left: 0;
    margin-right: 0;
}
.no-gutter .col-xs-1, .no-gutter .col-sm-1, .no-gutter .col-md-1, .no-gutter .col-lg-1, .no-gutter .col-xs-2, .no-gutter .col-sm-2, .no-gutter .col-md-2, .no-gutter .col-lg-2, .no-gutter .col-xs-3, .no-gutter .col-sm-3, .no-gutter .col-md-3, .no-gutter .col-lg-3, .no-gutter .col-xs-4, .no-gutter .col-sm-4, .no-gutter .col-md-4, .no-gutter .col-lg-4, .no-gutter .col-xs-5, .no-gutter .col-sm-5, .no-gutter .col-md-5, .no-gutter .col-lg-5, .no-gutter .col-xs-6, .no-gutter .col-sm-6, .no-gutter .col-md-6, .no-gutter .col-lg-6, .no-gutter .col-xs-7, .no-gutter .col-sm-7, .no-gutter .col-md-7, .no-gutter .col-lg-7, .no-gutter .col-xs-8, .no-gutter .col-sm-8, .no-gutter .col-md-8, .no-gutter .col-lg-8, .no-gutter .col-xs-9, .no-gutter .col-sm-9, .no-gutter .col-md-9, .no-gutter .col-lg-9, .no-gutter .col-xs-10, .no-gutter .col-sm-10, .no-gutter .col-md-10, .no-gutter .col-lg-10, .no-gutter .col-xs-11, .no-gutter .col-sm-11, .no-gutter .col-md-11, .no-gutter .col-lg-11, .no-gutter .col-xs-12, .no-gutter .col-sm-12, .no-gutter .col-md-12, .no-gutter .col-lg-12 {
	padding-left: 0;
	padding-right: 0;
}


/**
 * 2.0 Layout/Banner Styles
 * -----------------------------------------------------------------------------
 */
 .wrapper {
	position: relative;
	padding: 0 0 20px;
}
.wrapper.wrapper-header {
	padding: 0 !important;
}
.wrapper.wrapper-banner {
	padding: 50px 0;
	color: #fff;
	background: #999;
	overflow: hidden;
}
.wrapper.wrapper-banner-top {
	min-height: 250px;
}
.wrapper.wrapper-banner-xs.wrapper-banner-top {
	min-height: 0;
}
.wrapper.wrapper-banner p, .wrapper.wrapper-banner .p {
	font-size: 22px;
	line-height: 1.2;
}
.bg-img-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.bg-img-wrap .container {
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}
.bg-img {
	display: inline-block;
    height: auto;
}
.bg-img-absolute {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	max-width: none;
}
.wrapper.wrapper-banner-top .bg-img-absolute {
	max-height: 100%;
}
.bg-img-absolute.bg-right {
	left: auto;
	right: 0;
}
.bg-img-absolute.bg-bottom {
	top: auto;
	bottom: 0;
}
@media (max-width: 319px) {
	.bg-img {
		min-width: 100%;
		height: 100%;
	}
}
@media (min-width: 320px) and (max-width: 479px) {
	.bg-img-wrap .container {
		width: 358px;
	}
    .wrapper.wrapper-banner-xs .bg-img-wrap .container {
		width: 100%;
	}
	.bg-img {
		width: 480px;
		margin-left: -60px;
	}
    .wrapper.wrapper-banner-xs .bg-img-wrap, .wrapper.wrapper-banner-xs .bg-img {
		width: 100%;
		height: auto;
		margin-top: 0;
		margin-left: 0;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.bg-img-wrap .container {
		width: 526px;
	}
    .wrapper.wrapper-banner-xs .bg-img-wrap .container {
		width: 100%;
	}
	.bg-img {
		width: 768px;
		margin-left: -121px;
	}
    .wrapper.wrapper-banner-xs .bg-img-wrap, .wrapper.wrapper-banner-xs .bg-img {
		width: 100%;
		height: auto;
		margin-top: 0;
		margin-left: 0;
	}
}
@media (max-width: 767px) {
    .wrapper.wrapper-banner-xs {
		padding: 0;
	}
    .wrapper.wrapper-banner-xs .bg-img-wrap {
		position: relative;
	}
}
@media (min-width: 768px) {
    .wrapper {
		padding: 40px 0;
	}
    .wrapper.wrapper-lg {
		padding: 100px 0;
	}
    .wrapper.wrapper-banner {
		padding: 100px 0;
	}
    .wrapper.wrapper-banner h1, .wrapper.wrapper-banner .h1 {
		font-size: 62px;
	}
    .wrapper.wrapper-banner p, .wrapper.wrapper-banner .p {
		font-size: 28px;
		font-weight: 300;
		line-height: 1.1;
	}
    .wrapper.wrapper-banner-top .bg-img-absolute {
		max-height: none;
	}
	.bg-img {
		width: 992px;
		margin-left: -121px;
	}
}
@media (min-width: 992px) {
    .wrapper.wrapper-banner-top {
		min-height: 600px;
	}
    .wrapper.wrapper-banner h1, .wrapper.wrapper-banner .h1 {
		font-size: 68px;
	}
    .wrapper.wrapper-banner p, .wrapper.wrapper-banner .p {
		font-size: 33px;
	}
	.bg-img {
		width: 1200px;
		margin-left: -115px;
	}
}
@media (min-width: 1200px) {
    .wrapper.wrapper-banner h1, .wrapper.wrapper-banner .h1 {
		font-size: 73px;
	}
    .wrapper.wrapper-banner p, .wrapper.wrapper-banner .p {
		font-size: 38px;
	}
	.bg-img {
		width: 1400px;
	}
}
@media (min-width: 1400px) {
	.bg-img-wrap .container {
		width: auto;
	}
	.bg-img {
		width: 100%;
		margin-left: 0;
	}
}

/**
 * 2.0 Typography Styles
 * -----------------------------------------------------------------------------
 */
ul.icon {
	list-style-type: none;
}
ul.icon li {
	position: relative;
	margin-bottom: 15px;
}
ul.icon li:before {
	content: "\e067";
	position: absolute;
	top: 2px;
	left: -32px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-size: 1.4em;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@media (max-width: 767px) {
	.text-xs-left {
		text-align: left !important;
	}
	.text-xs-center {
		text-align: center !important;
	}
	.text-xs-right {
		text-align: right !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.text-sm-left {
		text-align: left !important;
	}
	.text-sm-center {
		text-align: center !important;
	}
	.text-sm-right {
		text-align: right !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.text-md-left {
		text-align: left !important;
	}
	.text-md-center {
		text-align: center !important;
	}
	.text-md-right {
		text-align: right !important;
	}
}
@media (min-width: 1200px) {
	.text-lg-left {
		text-align: left !important;
	}
	.text-lg-center {
		text-align: center !important;
	}
	.text-lg-right {
		text-align: right !important;
	}
}


/**
 * 3.0 Media Styles
 * -----------------------------------------------------------------------------
 */
.img-inline, .img-responsive.img-inline {
	display: inline-block;
}




/**
 * 3.0 Template Styles
 * -----------------------------------------------------------------------------
 */
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7;
	letter-spacing: 1px;
	color: #33495f;
	background: #fffffe;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 1.5;
}
a {
	color: #1fa2ed;
}
a:hover, a:focus {
	color: #428bca;
}
.wrapper {
    padding: 35px 0;
}
.btn {
	display: block;
	font-size: 17px;
	line-height: 1.7;
	font-weight: 400;
	background: #1ec279;
	white-space: normal;
	color: #feffff;
	padding: 12px 20px;
	letter-spacing: 2px;
}
.btn:hover, .btn:focus {
	color: #feffff;
	background: #14AD69;
}
.header {
	padding: 20px 0 30px;
}
.header .fill {
  text-align: center;
}
.logo {
	max-width: 100%;
}
.content img {
	max-width: 100% !important;
	margin-bottom: 20px;
}
.content .fill {
	display: block;
	padding: 0 15px;
	vertical-align: top;
}
.content h1 {
	margin-bottom: 20px;
}
.content .fill-inner {
	padding: 30px 15px;
	color: #fffeff;
	background: #33495e;
}
.content h2 {
	margin: 0 20px 30px;
	font-weight: 400;
}
.content .fill-inner p {
	margin: 40px 10px 50px;
}
.content .fill-content p, .content .fill-content a {
	display: inline;
	word-wrap: break-word;
}
.content .fill-cta {
	margin-top: 20px;
}
.navigation {
	margin-top: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #f8f8f7;
}
.navigation p, .navigation a {
	display: inline;
	word-wrap: break-word;
}
.link-list {
	margin: 15px 0;
}
.link-list a {
	margin: 0 16px;
}
.footer {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 30px;
	background: #f1f0f0;
}
.footer p, .footer a {
	display: inline;
	word-wrap: break-word;
}
.footer p {
	margin: 0;
}

@media (min-width: 320px) {
	.logo {
    	max-width: 300px;
	}
}
@media (min-width: 768px) {
	.content img {
		max-width: 528px !important;
	}
	.content .fill.fill-cta {
		margin-top: 40px;
	}
	.content .fill-inner {
		padding: 55px 20px;
	}
	.content .fill-cta {
		margin-top: 0;
	}
}

@media (min-width: 992px) {
	.header .fill {
		text-align: left;
	}
	.content .fill {
		display: inline-block;
	}
	.content .fill.fill-content {
		position: relative;
		top: 50px;
	}
	.content .fill.fill-content {
		width: 60%;
	}
	.content .fill.fill-cta {
		width: 39%;
	}
}

@media (min-width: 1200px) {
	.fill-container {
		margin: 0 -15px;
	}
}
